#eventComp {
  display: flex;
  justify-content: space-around;
}

#eventComp form {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 800px) {
  #eventComp {
    flex-direction: column;
  }
}
