.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.fieldset {
  /* border: 1px solid black; */
  height: 320px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eae8e1;
}

.message {
  width: 310px;
}

textarea {
  max-height: 160px;
  min-height: 139px;
}

legend {
  background-color: #282c34;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  width: 150px;
  border-radius: 10px;
  width: 300px;
  margin-top: -18px;
}

/* i{
    box-shadow: 5px 1px 15px #798389;
} */

#envelope,
#pencil {
  display: flex;
}

#envelope > h3,
#pencil > h3 {
  margin-top: 6px;
  margin-right: 5px;
}

button:hover {
  border: 1px solid #282c34;
  box-shadow: 0px 1px 10px #798389;
}

@media screen and (max-width: 800px) {
  .fieldset {
    margin-top: 50px;
    width: 310px;
    height: 400px;
  }

  .message {
    width: 250px;
  }

  textarea {
    max-height: 230px;
    min-height: 150px;
  }
}
