#signupDiv {
  margin-top: 20px;
}

#signupDiv legend {
  background-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  color: white;
  width: 180px;
  margin-left: 59px;
  margin-bottom: -20px;
}

#signup {
  border-radius: 10px;
  height: 360px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#signup div,
button {
  width: 200px;
}

#links {
  display: flex;
  flex-direction: column;
}

#links a {
  height: 20px;
}
