.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home {
  margin-top: 50px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://i.imgur.com/wSa7Y7f.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  height: 500px;
}
